# Node
node_modules/
# .vscode/ - commented out to allow settings configuration
playwrightPractice/
gitignore/
# Reports
results/playwright-report/cucumber-bootstrap-report.html
results/playwright-report/cucumber-html-report.html
results/playwright-report/cucumber-bootstrap-report.html.json
results/playwright-report/cucumber-report.json
results/playwright-report/cucumber-report.json;
results/videos/
results/screenshots/


